  .GaugeMeter{
    Position:        Relative;
    Text-Align:      Center;
    Overflow:        Hidden;
    Cursor:          Default;
  }

  .GaugeMeter SPAN,
  .GaugeMeter B{
    Margin:          0 23%;
    Width:           54%;
    Position:        Absolute;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    Overflow:        Hidden;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
  }
  .GaugeMeter[data-style="Semi"] B{
    Margin:          0 10%;
    Width:           80%;
  }

  .GaugeMeter S,
  .GaugeMeter U{
    Text-Decoration: None;
    Font-Size:       .5em;
    Opacity:         .5;
  }

  .GaugeMeter B{
    Color:           Black;
    Font-Weight:     300;
    Font-Size:       .5em;
    Opacity:         .8;
  }

  #patfilecached {
  float: right; 
  height: 30px;
  margin-left: 40px;
  margin-top: 15px;
  }

  #extensionpayloadlist {
  /*position: absolute;
  top: 160;
  left: 900;*/
  min-width: 250px;
  min-height: 100px ;
  max-height: 200px;
  max-width: 200px;
  }

  #extensionlist{
  /*position: absolute;
  top: 160;
  left: 1200;*/
  min-width: 250px;
  min-height: 150px ;
  max-height: 200px;
  }

  #manualexturl{
/*position: absolute;
  top: 160;
  left: 1200;*/
  margin-left: auto;
  padding-left: 10px;
  min-width: 480px;
  }

  #addextbutton{
    padding-left: 10px;
    margin-left: auto;
    margin-right: 0;
    float: right;
  }

  #remextbutton{
    padding-left: 10px;
    margin-left: auto;
    margin-right: 0;
    float: right;
  
  }

  .btnright {
    float: right;
    margin-top: 5px;
    margin-right: 10px ;
    margin-bottom: 10px;
  }

  
  .btnleft {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }  

  #autoextbutton{
    padding-left: 10px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
  }

 .extmanagement {
   float: right;
   margin : 5px;
   background-color: grey;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   height:auto;
   left: 70%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 500px;
  
 }
 .buildform {
   float:left;
   margin : 5px;
   background-color: grey;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   height:auto;
   left: 20%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
 }

 .staticip {
   float:left;
   margin : 5px;
   background-color: grey;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   height:auto;
   left: 50%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
 }


 .mountshare {
   float:left;
   margin : 5px;
   background-color: grey;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   height:auto;
   left: 50%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
 }

 .title-bar {
   background-color: #333333;
   color: white;
   display: flex;
   justify-content: center;
   padding: 5px;
 }
 .title-bar h1 {
   margin: 0;
     justify-content: middle;
 }
 .content {
   margin-top: 0px;
   padding-top: 0px;
   padding: 5px;
 }

 .buildlog {
   margin-top: auto;
   position: absolute;
   top: 80%;
   min-width: 100%;
 }

 .downloadlog{
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
 }
 .hideoutputlog{
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
 }
 
 

  .form-horizontal .control-label{
  /* text-align:right; */
  text-align:left;
  
}

.table-hover tbody tr:hover td {
    background: blue;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}