  .GaugeMeter{
    Position:        Relative;
    Text-Align:      Center;
    Overflow:        Hidden;
    Cursor:          Default;
  }

  .GaugeMeter SPAN,
  .GaugeMeter B{
    Margin:          0 23%;
    Width:           54%;
    Position:        Absolute;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    Overflow:        Hidden;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
  }
  .GaugeMeter[data-style="Semi"] B{
    Margin:          0 10%;
    Width:           80%;
  }

  .GaugeMeter S,
  .GaugeMeter U{
    Text-Decoration: None;
    Font-Size:       .5em;
    Opacity:         .5;
  }

  .GaugeMeter B{
    Color:           Black;
    Font-Weight:     300;
    Font-Size:       .5em;
    Opacity:         .8;
  }

  #patfilecached {
  position: absolute;
  top: 115;
  left: 1350;
  }

  #extensionpayloadlist {
  position: absolute;
  top: 160;
  left: 900;
  min-width: 250px;
  min-height: 200px;
  max-height: 200px;
  max-width: 200px;
  }

  #extensionlist{
  position: absolute;
  top: 160;
  left: 1200;
  min-width: 250px;
  min-height: 200px;
  max-height: 200px;
  }

  #addextbutton{
  position: absolute;
  top: 400;
  left: 1200;
  }

  #remextbutton{
  position: absolute;
  top: 400;
  left: 900;
  }

  #autoextbutton{
  position: absolute;
  top: 115;
  left: 1200;
  }


  .form-horizontal .control-label{
  /* text-align:right; */
  text-align:left;
  
}